@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



body{
    width: 1280px;
    background-color: rgba(122, 191, 191, .5);
    margin: auto;
}

main{
    background-color: #f2f2f2;
    max-width: 1280px;
}

h1{
    font-family:'Bebas Neue', sans-serif ;
    font-size: 40px;
    display: none;
}

h2{
    font-family:'Bebas Neue', sans-serif ;
    font-size: 30px;
}


h3{
    font-family:'Bebas Neue', sans-serif ;
    font-size: 25px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#name{
    text-align: center;
    position: relative;
    top: 204px;
}

.street-tacos menu {
    position: absolute;
    border-style: solid;
    border-color: #eb5428;
    background-color: white;
    list-style-type: none;
    top: 266px;
    width: 100px;
    height: 613px;
  }
  
.street-tacos svg {
    position: relative;
    margin-bottom: 30px;
    right: 32px;
    padding: 5px;
    margin-top: 4px;
}
  

.street-tacos a {
    position: relative;
    color: #eb5428;
    left: 10px;
    text-decoration: none;
}

.street-tacos img{
    height:619px;
    position: relative;
    left: 145px;
    top:200px
}

#tacos{
    width: 400px;
    position: relative;
    left:208px;
    top: 200px;
}

#par1{
    position: relative;
    left: 650px;
    bottom: 440px;
    width: 620PX;
}

#par2{
    position: relative;
    left: 650px;
    bottom: 434px;
    width: 620PX;
}

.details{
    position: relative;
    background-color: black;
    color: #7abebf;
    height: 130px;
    bottom: 15px;
}

#details{
    position: relative;
    text-align: center;
    padding: 20px;
}

dl {
    display: inline-block;
    position: relative;
    margin-left: 100px;
    text-align: center;
    bottom: 15px;
    right: 105px;
    height: 1px;
}

#steps{
    position: relative;
    text-align: center;
    bottom: 40px;
    right: auto;
}

dd{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: relative;
    right: 20px;
    text-align: left;
}

dt{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    position: relative;
    left:10px;
}

#ingredients{
    position: relative;
    left: 20px;
}


#directions{
    position: relative;
    left: 700px;
    bottom:295px;
}

.directions{
    height: 10px;
}

#dir{
    position: relative;
    width:800px;
    left: 450px;
    bottom: 340px;
}


.search{
    position: relative;
    bottom:1996px;
    left: 550px;
}

.search input{
    border-color: #EB5428;
    width: 220px;
    height: 30px;
}

.search svg{
    background-color: #EB5428;
    position: relative;
    height: 35px;
    width:50px;
    top: 12px;
}


#dishes{
    text-align: center;
    margin-top: 10px;
    padding: 16px;
}

#sidedish{
    background-color: #7abebf;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#item
{
    margin-left: 44px;
    margin-top: -20px;
}

nav{
    font-size: 16px;
    width: 1280px;
    height: 110px;
    position: relative;
    bottom: 1913px;
    background-color: #FFFFFF;
}


nav li{
    display: inline;
    position: relative;
    top: 10px;
    left:260px;
}

.star-ratings{
    color:orange;
    position: relative;
    bottom: 5px;
    left:7px;
}

#iconhome{
    position:relative;
    bottom:1783px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#EB5428;
    z-index: 1;
}

#iconsign{
    position:relative;
    bottom:2024px;
    padding:30px;
    left: 1176px;
}

a[href="sign-in"]{
    position:relative;
    bottom:2040px;
    padding:20px;
    left: 1089px;
    text-decoration: none;
    font-family:'Bebas Neue', sans-serif ;
}

a[href="home"]{
    display: none;
}

li p{
    display:inline-block;
    position:relative;
    top:20px;
    right: 56px;
    font-family:'Bebas Neue', sans-serif ; 
}

input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

menu li{
    font-family:'Bebas Neue', sans-serif ;
    font-size: 20px;
}


#chef{
    height: 150px;
    position: relative;
    bottom: 500px;
    left: 10px;
}

footer p{
    font-family:'Bebas Neue', sans-serif ;
    text-align: center;
    margin:-4px;
    position:relative;
    bottom:460px;
    right: 430px;
}

.socials li {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-left: 60px;
    top: 100px;
    left: 550px;
  }
  
  .socials svg {
    position: relative;
    top: -500px;
    left: 30px;
  }
  
  .socials a {
    font-family: "Bebas Neue", cursive;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #eb5428;
    position: relative;
    top: -430px;
    font-size: 18.5px;
  }

  